body {
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
  flex-shrink: 0;
}
view,text{-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  font-family: PingFangSC-Regular, Roboto, Helvetica Neue, Helvetica, Tahoma,
    Arial, PingFang SC-Light, Microsoft YaHei;
}
button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
}

button:active {
  opacity: 0.6;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-flex{
display: flex;	
}
.bd{border-bottom: #f2f2f2 solid 1rpx;}
.height20{height: 20rpx; background: #F7F7F7;}
page{
	font-size: 24rpx;
	color: #666666;
  z-index: 1;
  position: relative;
  width: 750rpx;
  
  background-color: rgba(247, 247, 247, 1);
  overflow: hidden;
  justify-content: flex-start;
  padding-top: 0;
}
.flex-1{flex:1}
.flex-2{flex:2}
.flex-3{flex:3}
.flex-4{flex:4}
.flex-5{flex:5}
.flex-6{flex:6}
.flex-7{flex:7}
.flex-8{flex:8}
.flex-9{flex:9}
.flex-10{flex:10}
.flex-11{flex:11}
.flex-12{flex:12}
.fw{font-weight: bold;}
.group{background: #ffffff;}
.line{height: 2rpx;  background: #f7f7f7; width: 100%;}
.jc{justify-content: space-between;}
	.view-more {
	  z-index: 73;
	  width: 750rpx;
	  display: block;
	  overflow-wrap: break-word;
	  color: rgba(102, 102, 102, 1);
	  font-size: 28rpx;
	  white-space: nowrap;

	  text-align: center;
	  align-self: center;
	  padding: 20rpx;
	}
.no-more{text-align: center; padding: 100rpx 0rpx; color: #999999;}	
.top-tips{
	font-size: 28rpx;
	color: #EB5E00;
	 background-color: rgba(235, 94, 0, 0.02);
	 line-height: 60rpx;
	 padding: 0rpx 30rpx;
}
.p-l-r{padding: 0rpx 30rpx;}

.title{
	line-height: 80rpx;}
.title > .title-left{font-size: 34rpx;
	background:url(./static/icon-title.png) no-repeat;
	background-position: left center;
	background-size: 26rpx 26rpx;
	padding-left:36rpx;
	font-weight:600;
	}

.title > .title-right{
		font-size: 24rpx;
		position:relative;
	}
.blue{color: #627BF8;}
.title > .title-right:before{
	content: ""; 
	position: absolute; 
	left:-20rpx; 
	top:45%;
	height: 8rpx;
	width: 8rpx;
	border-radius: 4rpx;
	background:#666666
	}
.p30{padding: 30rpx;}
.p-t-b{
	padding-top: 30rpx;
	padding-bottom: 30rpx;
	
}
.flex-wrap{
	flex-wrap: wrap;
}